<div class="modal hide" id="settings">
  <form class="modal-form form-vetical" autocomplete="off" action="/api/settings/save" method="post">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>User Settings</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="highlight">Highlighting Theme</label>
                <div class="controls">
                    <select id="highlight" name="highlight" class="input-xlarge" >
                      <% highlightThemes.forEach(function (theme){ %>
                        <option id="select-hilight-<%= theme %>"<% if (highlightThemeSelected === theme) { %> selected="true"<% } %>>
                          <%= theme %></option>
                      <% }); %>
                    </select>
                    <p class="help-block">To view previews of each theme, look 
                      <a href="http://softwaremaniacs.org/media/soft/highlight/test.html" target="_blank">here</a></p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button id="saveSettings" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
    </div>
</form>
</div>
<script>
  $(function(){
    var oldTheme = '<%= highlightThemeSelected %>';
    var store = false;
    $("#saveSettings").click(function () {
      $(".container-fluid").removeClass('highlight-'+oldTheme);
      $(".container-fluid").addClass('highlight-'+$("#highlight").val());
      oldTheme = $("#highlight").val();
      if (store) {
        store.highlightThemeSelected = oldTheme;
      }
    });
    if (typeof localStorage !== 'undefined') {
      store = localStorage;
      if (store.highlightThemeSelected && oldTheme === 'default') {
        $(".container-fluid").removeClass('highlight-'+oldTheme);
        $("#select-hilight-" + oldTheme).attr('selected', 'false');
        oldTheme = store.highlightThemeSelected;
        $("#select-hilight-" + oldTheme).attr('selected', 'true');
        $(".container-fluid").addClass('highlight-' + oldTheme);
      }
    }
  });
</script>