<div class="modal hide" id="settings">
  <form class="modal-form form-vetical" autocomplete="off" action="/api/settings/save" method="post">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>User Settings</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="highlight">Highlighting Theme</label>
                <div class="controls">
                    <select id="highlight" name="highlight" class="input-xlarge" >
                      <option>something</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <p class="help-block">To view previews of each theme, look 
                      <a href="http://softwaremaniacs.org/media/soft/highlight/test.html" target="_blank">here</a></p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>
</div>