<% if (typeof tags !== 'undefined') { %>

<!--<dl class="param-list">-->
    <% tags.forEach(function (tag, i) { %>
        <% /*if(tag.type === '') return;*/ %>
        <div class="row-fluid">
        <% if (tag.type === 'param') { %>
            <div class="span4"><div class="param-name"><%= tag.name %></div></div>
            <div class="span3"><% if (tag.types.length === 1) { %>
                <div class="param-type param-type-<%= tag.types[0].toLowerCase() %>"><%= tag.types[0] %></div>
            <% } else { %>
                <div class="param-type"><%= tag.types.join(' | ') %></div>
            <% } %></div>
            <div class="span5"><div class="param-desc"><%= tag.description %>
            </div></div>
        <% } else if (tag.type === '') { %>
            <div class="span7"></div>
            <div class="span5"><div class="param-desc"><%= tag.string %>
            </div></div>
        <% } %>
        </div>
    <% }) %>
<!--</dl>-->
<% } %>