<% if (typeof tags !== 'undefined') { %>

<dl class="param-list">

    <% tags.forEach(function (tag, i) { %>
        <% if(tag.type === '') return; %>
        <br />
        <% if (tag.type === 'param') { %>
            <dt class="param-name"><%= tag.name %></dt>
            <% if (tag.types.length === 1) { %>
                <dd class="param-type param-type-<%= tag.types[0].toLowerCase() %>"><%= tag.types[0] %></dd>
            <% } else { %>
                <dd class="param-type"><%= tag.types.join(' | ') %></dd>
            <% } %>
            <dd class="param-desc"><%= tag.description %>
                <%- tags.filter(function (cTag, cI) {
                    return cI > i;
                    }).reduce(function (acc, curr) {
                        acc.continue = acc.continue && curr.type === '';
                        if (acc.continue) acc.result.push(curr.string);
                        return acc;
                    }, {result: [], continue: true}).result.join('<br />') %>
            </dd>
        <% } %>
    <% }) %>
</dl>
<% } %>