{{inherits('base')}}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GitHub Documentation</a>
          <div class="btn-group pull-right">
            <button class="btn" data-toggle="modal" data-target="#settings">
              <i class="icon-cog"></i> Settings
            </button>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Fork on GitHub</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {{ if(typeof breadcrumb === 'string'){ }}{{-breadcrumb}}{{ } }}
      
      {{-contents}}

      <hr>

      <footer>
        <a href="http://www.jepso.com"><p>&copy; JEPSO 2012</p></a>
      </footer>

    </div><!--/.fluid-container-->
<div class="modal hide" id="settings">
  <form class="modal-form form-vetical" autocomplete="off" action="/api/settings/save" method="post">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>User Settings</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="username" name="username" data-provide="typeahead" />
                    <p class="help-block">Enter the username of the user you wish to impersoante</p>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>
</div>