{{inherits('base')}}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GitHub Documentation</a>
          <div class="btn-group pull-right">
            <button class="btn" data-toggle="modal" data-target="#settings">
              <i class="icon-cog"></i> Settings
            </button>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Fork on GitHub</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid highlight-{{=highlightThemeSelected}}">
      {{ if(typeof breadcrumb === 'string'){ }}{{-breadcrumb}}{{ } }}
      
      {{-contents}}

      <hr>

      <footer>
        <a href="http://www.jepso.com"><p>&copy; JEPSO 2012</p></a>
      </footer>

    </div><!--/.fluid-container-->
{{-render('partials/settingsDialog.html')}}
<script>
//This script corrects for over scrolling (because of the fixed nav bar).
var silence = false;
function onHashChange() {
  if(silence) return silence = false;
  if(/\/$/.test(location.hash)) {
    location.hash = location.hash.replace(/\/$/, '');
  } else {
    //We don't want to do this on very small (mobile) screens.
    if(window.innerWidth > 979) window.scrollTo(0, document.body.scrollTop - 40);
    silence = true;
    location.hash = location.hash + "/";
  }
}
$(window).bind('hashchange', onHashChange);
</script>