{{ inherits('layouts/fluid') -}}

{{ if(readme.exists){ }}
	<div class="row-fluid">
    <div class="span4">
{{ } }}
<div class="well" style="padding: 8px 0;">
<ul class="nav nav-list">
{{ directories.forEach(function(dir){ }}
	<li>
		<a href="{{=dir.path}}/">
			<i class="icon-folder-open"></i>
			{{=dir.name}}
		</a>
	</li>
{{ }); }}
{{ files.forEach(function(file){ }}
	<li>
		<a href="{{=file.path}}">
			<i class="icon-file"></i>
			{{=file.name}}
		</a>
	</li>
{{ }); }}
</ul>
</div>

{{ if(readme.exists){ }}
    </div><!--/span-->
    <div class="span6">
        {{-readme.content /*readme.extension*/}}
    </div><!--/span-->
    <div class="span2">
    </div>
</div><!--/row-->
{{ } }}