body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
/*reset pre to be invisible*/
pre {
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
    padding-top:0px;
    margin: 12px 0px;
    word-break: normal;
    border:none;
    background-color:transparent;
}

