<% if(mode === 'describe') {
    name('Simple')
    description('Simply renders comments, then the source code in a linear manner')
    extensions.supports('js');
} else if (mode==='render') {
    inherits('layouts/file') -%>
<div class="row-fluid">
    <div class="span12">
        <% dox() -> comments%>
        <% comments.forEach(function(comment){ %>
            <!--<%- JSON.stringify(comment).replace(/\-\-\>/g, '- - >') %>-->
            <% if(!comment.ignore && !comment.isPrivate) { %>
                <div class="comment <%- (comment.ctx?comment.ctx.type:'')%>">
                    <% if(comment.ctx){ %><h1><%= comment.ctx.string %></h1><% } %>
                    <div class="description"><%- comment.description.full %></div>
                    <% if(comment.code){ %>
                        <pre><code><%- highlight(comment.code, 'javascript') %></code></pre>
                    <% } %>
                </div>
            <% } %>
        <% }) %>
        <% <- %>
    </div><!--/span-->
</div><!--/row-->
<% } %>