{{ if(mode === 'render'){ }}
{{ inherits('layouts/fluid') -}}
<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <h1>{{=name}}</h2>

            <p>This file just uses the generic default file handler.</p>

            <p>Can you help us provide better formatting for it?  Maybe even a way of automatically parsing it for documentation?  If so, help us expand our list of supported file types.</p>

            <a href="{{=source}}" class="btn btn-inverse">View file on github</a>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
        {{-render('partials/sourceCode')}}
    </div><!--/span-->
</div><!--/row-->
{{ } else if (mode==='describe') { 
    extensions.supportsAll();
 } }}